@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(https://db.onlinewebfonts.com/c/2206d6cc490084998d531e8c1b2cbb4a?family=Druk+Wide+Bold);
.FontName{
  font-family: "Druk Wide Bold";
  font-weight: 600;
}

@font-face {
  font-family: "Druk Wide Bold";
  src: url("https://db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.eot");
  src: url("https://db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.svg#Druk Wide Bold")format("svg");
}


.linked {
  position: relative;
  color: #cac7c7;
  text-decoration: none;
}

.linked:hover {
  color: #979595;
}

.linked::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  max-width: 160px;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3b3a3a;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.linked:hover::before {
  transform: scaleX(0.8);
}

.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #955ed599;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #8ba4bd;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #564688a6;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #8a44d4;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}

#navbar-scroll {
  transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  margin-top: 20px; /* Ajusta este valor según tu necesidad */
  transform: translateY(0);
}

@media (max-width: 768px) {
  #navbar-scroll {
    margin-top: 0;
  }
}


#navbar-scroll.hidden {
  top: -100px;
  opacity: 0;
}

#navbar-scroll.visible {
  top: 0;
  opacity: 1;
  transform: translateY(0);
}

#navbar-scroll.appear {
  transform: translateY(20px);
}


.fontname{
  font-family: 'Raleway', sans-serif;
}

/* Estilos para la barra de scroll */
::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra */
}

/* Estilo del riel */
::-webkit-scrollbar-track {
  background-color: #000000; /* Color de fondo del riel */
}

/* Estilo del pulgar */
::-webkit-scrollbar-thumb {
  background-color: #efefef
  ; /* Color del pulgar */
  border-radius: 4px; /* Radio de borde del pulgar */
}

/* Estilo del pulgar al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color del pulgar al pasar el mouse */
}

/* Estilo del pulgar cuando está activo (haciendo scroll) */
::-webkit-scrollbar-thumb:active {
  background-color: #333; /* Color del pulgar cuando está activo */
}
/* #### Generated By: http://font.download #### */


