.linked {
    position: relative;
    color: #cac7c7;
    text-decoration: none;
  }
  
  .linked:hover {
    color: #979595;
  }
  
  .linked::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    max-width: 160px;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #3b3a3a;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .linked:hover::before {
    transform: scaleX(0.8);
  }

  .cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #955ed599;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #8ba4bd;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #564688a6;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #8a44d4;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}
